*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{
  background-color: white;
  height: 60px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
}
.logo{
    width: 75%; 
}
.mobile-logo{
    width: 100%;
}

.search-col{
    flex-grow: 1;
}
#search{
    width: 100%;
    height: 40px;
    background-color: #e5e5e5;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
    position: relative;
}
.search-icon{
    position: absolute;
    top: 19px;
    left: 263px;
}
.head-icons{
    padding: 0px 10px;
}
.head-icons i{
    margin-right: 10px;
}
.page-container{
  height: calc(100vh - 60px);
  background-color: lightgray;
  display: flex;
}
aside{
  width: 150px;
  background-color: #061e34;
  flex-shrink: 0;
  background-image: url(../img/sidebar-bg.png);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  color: white;
}
.aside-nav{
    width: 100%;
    flex-grow: 1;
    
}
.aside-foot{
    margin: auto;
    width: 100%;
}
.aside-icon{
    font-size: 1.2rem;
}
.aside-link a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding-left: 10px;
}
.aside-nav .row{
    align-items: center;
    margin-bottom: 7px;
}
.aside-foot .row{
    align-items: center;
}
.col-icon{
    text-align: center;
    width: 20%;
}
.aside-link{
    width: 80%;
}
main{
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
  }
.hero{
    background-color: #1c71e8;
    padding: 15px 20px;
    color: white;
    display: flex;
    width: 100%;
}
.ms-badge{
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(0, 0, 0,0.2);
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.angle-icn{
    margin-right: 10px;
    font-size: 1rem;
}
.right-hero{
    margin-bottom: 20px;
}
#number{
    font-size: 2rem;
}
table{
    border: 1px solid #d2d2d2;
}
ul li:first-child{
    background-color: #f7f7f7;
}
.cards{
    padding: 20px 20px;
}
.rooms{
    padding-left: 0px;
}
.todo{
    height: 200px;
    background-color: red;
    padding-right: 0px;
}
.ms-row{
    display: flex;
    /*justify-content: space-between;*/
}
.list-group-item div:not(:first-child){
    text-align: center;
}
.title{
    flex-grow: 1;
}
.add{
    color: #1e72fd;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    border: 1px solid #1e72fd;
    border-radius: 5px;
}
.list-group-item{
    align-items: center;
}
.name div img{
    width: 30px;
    margin-right: 10px;
}
.name{
    justify-content: flex-start;
    flex-grow: 1;
}
.green-status{
    padding: 3px;
    font-size: 0.8rem;
    background-color: #198753;
    color: white;
    border: none;
    width: 40px;
    border-radius: 10px;
    margin: auto;
}
.process-status{
    padding: 3px;
    font-size: 0.8rem;
    background-color: #ffc007;
    color: white;
    border: none;
    border-radius: 10px;
    width: 55px;
    margin: auto;
}
.failed-status{
    padding: 3px;
    font-size: 0.8rem;
    background-color: #dc3444;
    color: white;
    border: none;
    border-radius: 10px;
    width: 50px;
    margin: auto;
}
.action{
    justify-content: center;
}
.edit{
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.action .edit:not(:first-child){
    margin-right: 0px;
}
@media screen and (max-width:992px) {
    aside{
        width: 50px;
        padding: 30px 0px;
    }
    .aside-link{
        display: none;
    }
    .aside-nav .row{
        display: block;
        text-align: center;
    }
    .col-icon{
        width: 100%;
    }
    .ms-d-lg{
        display: none;
    }
    .ms-badge{
        margin-right: 0px;
    }
    .angle-icn{
        margin-right: 0px;
    }
    .hero{
        display: block;
        padding-bottom:0px ;
    }
}
@media screen and (max-width:992px){
    header{
        padding-left: -12px;
    }
    .logo-col{
        width: 50px;
        margin-right: 10px;
    }
    .left-hero{
        margin-bottom: 20px;
    }
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
}